{% set params = { recipients: recipientIds|length, mailingLists: mailingLists|length, sendDate: sendout.sendDate|datetime } %}

{% set prepLabel = 'Prepare to Send Now'|t('campaign') %}
{% set saveLabel = 'Send Now'|t('campaign') %}
{% set confirmMessage = 'This sendout will be sent to {recipients} contact(s) in {mailingLists} mailing list(s).'|t('campaign', params) %}
{% set launchedMessage = 'Sendout Queued for Sending!'|t('campaign') %}
{% if sendout.sendoutType == 'scheduled' %}
    {% set prepLabel = 'Prepare to Schedule Sending'|t('campaign') %}
    {% set saveLabel = 'Schedule Sending'|t('campaign') %}
    {% set confirmMessage = 'This sendout will be scheduled to send on {sendDate} to {recipients} contact(s) in {mailingLists} mailing list(s).'|t('campaign', params) %}
    {% set launchedMessage = 'Sendout Scheduled!'|t('campaign') %}
{% elseif sendout.sendoutType == 'automated' %}
    {% set prepLabel = 'Prepare to Activate Sending'|t('campaign') %}
    {% set saveLabel = 'Activate Sending'|t('campaign') %}
    {% set confirmMessage = 'This sendout will be activated for automated sending to {mailingLists} mailing list(s).'|t('campaign', params) %}
    {% set launchedMessage = 'Sendout Activated!'|t('campaign') %}
{% endif %}
{% if sendout.isResumable %}
    {% set prepLabel = 'Prepare to Resume Sending'|t('campaign') %}
    {% set saveLabel = 'Resume Sending'|t('campaign') %}
    {% set confirmMessage = 'This sendout will resume sending to {recipients} contact(s) in {mailingLists} mailing list(s).'|t('campaign', params) %}
    {% set launchedMessage = 'Sendout Resumed!'|t('campaign') %}
{% endif %}

<input type="button" class="btn submit prepare" value="{{ prepLabel }}">

<div class="modal preflight" style="display: none;">
    <div class="confirm">
        {% if settings.testMode %}
            <div class="testmode" title="Campaign is running in Test Mode."></div>
        {% endif %}
        <div class="body">
            <h1>{{ saveLabel }}</h1>
            <p>{{ confirmMessage }}</p>
            <p>
                {{ 'All systems are GO!!'|t('campaign') }}
                <span class="info">
                    {{ 'Memory Limit'|t('campaign') }}: {{ system.memoryLimit == -1 ? 'Unlimited'|t('campaign') : system.memoryLimit }}<br/>
                    {{ 'Max Execution Time'|t('campaign') }}: {{ system.timeLimit == 0 ? 'Unlimited'|t('campaign') : system.timeLimit }}<br/>
                    {{ 'Max Batch Size'|t('campaign') }}: {{ settings.maxBatchSize }}
                </span>
            </p>
            <p><input type="submit" class="btn submit launch" value="{{ saveLabel }}"></p>
            <div class="rocketman"></div>
            <p class="spinner big hidden"></p>
            <p class="error hidden"></p>
        </div>
        <div class="footer">
            <div class="buttons right">
                <div class="btn cancel">{{ 'Cancel'|t('campaign') }}</div>
            </div>
        </div>
    </div>
    <div class="launched" style="display: none;">
        <div class="body">
            <h1>{{ launchedMessage }}</h1>
        </div>
        <div class="footer">
            <div class="buttons right">
                <a href="{{ url('campaign/sendouts') }}" class="btn submit">{{ 'Continue'|t('campaign') }}</a>
            </div>
        </div>
    </div>
</div>