{% import '_includes/forms' as forms %}

{% set label = label ?? 'Send Date' %}

{% set input %}
    {{ forms.date({
        name: 'sendDate',
        value: sendout.sendDate.date ?? date(),
    }) }}
    {{ forms.time({
        name: 'sendDate',
        value: sendout.sendDate.time ?? date(),
    }) }}
    {{ sendout.sendDate.timezone ?? craft.app.timezone }}
{% endset %}
{{ forms.field({
    label: label|t('campaign'),
    instructions: "The date and time at which to begin sending."|t('campaign'),
    errors: sendout.getErrors('sendDate'),
    required: true
}, input) }}

{% if endDate is defined and endDate %}

    {{ forms.dateField({
        label: "End Date"|t('campaign'),
        instructions: "The date on which to end sending (optional)."|t('campaign'),
        name: 'schedule[endDate]',
        value: schedule.endDate ? schedule.endDate.date,
        errors: schedule.getErrors('endDate'),
    }) }}

{% endif %}