<div>
    {% set tabs = campaignType.getFieldLayout().getTabs() %}
    {% if tabs|length %}
        {% for tab in tabs %}
            <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                {% if loop.first %}
                    {% include "campaign/campaigns/_includes/titlefield" %}
                {% endif %}
                {% include '_includes/fields' with {
                    fields:  tab.getFields(),
                    element: campaign
                } only %}
            </div>
        {% endfor %}
    {% else %}
        <div id="tab1">
            {% include "campaign/campaigns/_includes/titlefield" %}
        </div>
    {% endif %}
</div>