{% import '_includes/forms' as forms %}

<tr class="orCondition">
    <td style="width: 25%;">
        <div class="select">
            <select name="conditions[{{ andIndex ?? '' }}][{{ orIndex ?? '' }}][1]" class="conditionField" {{ condition is not defined ? 'disabled' }}>
                {% for field in availableFields %}
                    {% set value = field.handle %}
                    <option data-field="field-{{ field.type|replace({'\\': '-'}) }}"
                            data-unique="{{ field.options ? field.handle }}"
                            value="{{ value }}"
                            {{ condition is defined and condition[1] == value ? 'selected' }}
                    >{{ field.name }}</option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td style="width: 25%;">
        <div class="select">
            {% for fieldType, operators in fieldOperators %}
                <select name="conditions[{{ andIndex ?? '' }}][{{ orIndex ?? '' }}][0]" class="conditionOperator hidden field-{{ fieldType|replace({'\\': '-'}) }}" disabled>
                    {% for value, label in operators %}
                        <option value="{{ value }}" {{ condition is defined and condition[0] == value ? 'selected' }}>{{ label }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
        </div>
    </td>
    <td style="width: 25%;">
        {% set fieldName = 'conditions[' ~ (andIndex ?? '') ~ '][' ~ (orIndex ?? '' ) ~ '][2]' %}
        {% set value = condition[2] ?? '' %}
        <div class="conditionValue default hidden">
            <input type="text" class="text fullwidth" name="{{ fieldName }}" value="{{ value }}" disabled />
        </div>
        <div class="conditionValue field-craft-fields-Lightswitch hidden">
            <div class="select">
                <select name="{{ fieldName }}" disabled>
                    <option value="1" {{ value == '1' ? 'selected' }}>{{ 'switched on'|t('campaign') }}</option>
                    <option value="0" {{ value == '0' ? 'selected' }}>{{ 'switched off'|t('campaign') }}</option>
                </select>
            </div>
        </div>
        <div class="conditionValue field-craft-fields-Date hidden">
            <div class="datewrapper">
                <input class="text" type="text fullwidth" name="{{ fieldName }}" value="{{ value }}" autocomplete="off" placeholder=" " disabled />
                <div data-icon="date"></div>
            </div>
        </div>
        {% for field in availableFields %}
            {% if field.options %}
                <div class="conditionValue field-{{ field.type|replace({'\\': '-'}) }}-{{ field.handle }} hidden">
                    <div class="select">
                        <select name="{{ fieldName }}" disabled>
                            {% for option in field.options %}
                                <option value="{{ option.value }}" {{ value == option.value ? 'selected' }}>{{ option.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </td>
    <td class="thin"><a class="addOrCondition btn add icon" title="{{ 'OR'|t('campaign') }}" role="button">{{ 'OR'|t('campaign') }}</a></td>
    <td class="thin"><a class="deleteOrCondition delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
</tr>
