{% extends 'campaign/settings/_layout' %}

{% import '_includes/forms' as forms %}
{% import 'campaign/_macros' as macros %}

{% set title = campaignType.id ? campaignType.name : 'Create a new campaign type'|t('campaign') %}

{% set crumbs = [
    { label: 'Campaign Types'|t('campaign'), url: url('campaign/settings/campaigntypes') }
] %}


{% block content %}

    <input type="hidden" name="action" value="campaign/campaign-types/save-campaign-type">

    {{ redirectInput('campaign/settings/campaigntypes') }}

    {% if campaignType.id %}
        <input type="hidden" name="campaignTypeId" value="{{ campaignType.id }}">
    {% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('campaign'),
        instructions: "What this campaign type will be called in the CP."|t('campaign'),
        id: 'name',
        name: 'name',
        value: campaignType.name,
        errors: campaignType.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t('campaign'),
        instructions: "How you’ll refer to this campaign type in the templates."|t('campaign'),
        id: 'handle',
        class: 'code',
        name: 'handle',
        value: campaignType.handle,
        errors: campaignType.getErrors('handle'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Campaign URI Format"|t('campaign'),
        instructions: "What the campaign URIs should look like. You can include tags that output campaign properties, such as `{slug}`."|t('campaign'),
        id: 'uriFormat',
        name: 'uriFormat',
        value: campaignType.uriFormat,
        errors: campaignType.getErrors('uriFormat'),
        autocomplete: true,
        required: true
    }) }}

    {% set infoText = 'Available template tags: {tags}' %}
    {% set tags = '`campaign`, `browserVersionUrl`, `contact`, `unsubscribeUrl`' %}

    {{ forms.textField({
        label: "HTML Template"|t('campaign'),
        instructions: "The HTML template to use when a campaign’s URL is requested."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: tags}),
        id: 'htmlTemplate',
        name: 'htmlTemplate',
        value: campaignType.htmlTemplate,
        errors: campaignType.getErrors('htmlTemplate'),
        autocomplete: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Plaintext Template"|t('campaign'),
        instructions: "The plaintext template to use when sending a plaintext version."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: tags}),
        id: 'plaintextTemplate',
        name: 'plaintextTemplate',
        value: campaignType.plaintextTemplate,
        errors: campaignType.getErrors('plaintextTemplate'),
        autocomplete: true,
        required: true
    }) }}

    {% set siteRows = [] %}
    {% set siteErrors = campaignType.getErrors('siteSettings') %}

    {% for site in craft.app.sites.getAllSites() %}
        {% set siteSettings = campaignType.siteSettings[site.id] ?? null %}
        {% if siteSettings %}
            {% for attribute, errors in siteSettings.getErrors() %}
                {% set siteErrors = siteErrors|merge(errors) %}
            {% endfor %}
        {% endif %}
        {% set siteRows = siteRows|merge({
            (site.handle): {
                heading: site.name|t('site'),
                enabled: include('_includes/forms/lightswitch', {
                    name: 'sites['~site.handle~'][enabled]',
                    on: 1 or siteSettings,
                    value: site.id,
                    small: true
                }),
                uriFormat: {
                    value: siteSettings ? siteSettings.uriFormat,
                    hasErrors: (siteSettings ? siteSettings.hasErrors('uriFormat'))
                },
                template: {
                    value: siteSettings ? siteSettings.template,
                    hasErrors: siteSettings ? siteSettings.hasErrors('template'),
                },
                enabledByDefault: siteSettings ? siteSettings.enabledByDefault : true,
            }
        }) %}
    {% endfor %}

    {{ forms.editableTableField({
        label: "Site Settings"|t('app'),
        instructions: "Choose which sites this campaign type should be available in, and configure the site-specific settings."|t('app'),
        id: 'sites',
        name: 'sites',
        cols: {
            heading: {
                type: 'heading',
                heading: "Site"|t('app'),
                class: 'thin'
            },
            enabled: {
                type: 'heading',
                class: 'thin'~(not craft.app.getIsMultiSite() ? ' hidden')
            },
            uriFormat: {
                type: 'singleline',
                heading: "URI Format"|t('app'),
                info: "What the entry URI should be for the site. Leave blank if this is the homepage."|t('app'),
                placeholder: ""|t('app'),
                code: true,
                class: 'type-single'
            },
            htmlTemplate: {
                type: 'singleline',
                heading: "HTML Template"|t('app'),
                info: "What entry URIs should look like for the site. Leave blank if entries don’t have URLs."|t('app'),
                placeholder: ""|t('app'),
                code: true,
                class: 'type-channel type-structure'
            },
            plaintextTemplate: {
                type: 'singleline',
                heading: "Plaintext Template"|t('app'),
                info: "Which template should be loaded when an entry’s URL is requested."|t('app'),
                code: true
            }
        },
        rows: siteRows,
        staticRows: true,
        errors: siteErrors|unique
    }) }}

    <hr>

    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: campaignType.getFieldLayout(),
        customizableTabs: false,
        pretendTabName: "Campaign"|t('campaign')
    } only %}

{% endblock %}


{% if not campaignType.handle %}
    {% js "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
