{% extends 'campaign/settings/_layout' %}

{% set title = 'Campaign Types'|t('campaign') %}

{% set crumbs = [] %}

{% set campaignTypes = craft.campaign.getAllCampaignTypes() %}
{% set isMultiSite = craft.app.getIsMultiSite() %}


{% block actionButton %}
    <a href="{{ url('campaign/settings/campaigntypes/new') }}" class="btn submit add icon">{{ "New campaign type"|t('campaign') }}</a>
{% endblock %}


{% block content %}
    <div id="nocampaigntypes"{% if campaignTypes|length %}class="hidden"{% endif %}>
        <p>{{ "No campaign types exist."|t('campaign') }}</p>
    </div>

    {% if campaignTypes|length %}
        <table id="campaigntypes" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Name"|t('app') }}</th>
                <th scope="col">{{ "Handle"|t('app') }}</th>
                {% if isMultiSite %}
                    <th scope="col">{{ "Site"|t('app') }}</th>
                {% endif %}
                <td class="thin"></td>
                <td class="thin"></td>
            </thead>
            <tbody>
            {% for campaignType in campaignTypes %}
                <tr data-id="{{ campaignType.id }}" data-name="{{ campaignType.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('app') }}"><a href="{{ campaignType.cpEditUrl }}">{{ campaignType.name }}</a></th>
                    <td data-title="{{ 'Handle'|t('app') }}"><code>{{ campaignType.handle }}</code></td>
                    {% if isMultiSite %}
                        <td data-title="{{ 'Site'|t('app') }}"><code>{{ campaignType.getSite().name }}</code></td>
                    {% endif %}
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}


{% js %}
new Craft.AdminTable({
    tableSelector: '#campaigntypes',
    deleteAction: 'campaign/campaign-types/delete-campaign-type',
    confirmDeleteMessage: '{{ 'Are you sure you want to delete “{name}”? This will also delete all of the campaigns that use it. This action cannot be undone.'|t('campaign') }}',
});
{% endjs %}
