{% extends elementType is defined ? '_layouts/elementindex' : '_layouts/cp' %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\CampaignAsset') %}

{% js %}
    Craft.publishableCampaignTypes = [
        {% for campaignType in craft.campaign.getAllCampaignTypes() %}
            {
                id: {{ campaignType.id }},
                siteId: {{ campaignType.siteId }},
                name: "{{ campaignType.name|e('js') }}",
                handle: "{{ campaignType.handle|e('js') }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
    Craft.publishableMailingListTypes = [
        {% for mailingListType in craft.campaign.getAllMailingListTypes() %}
            {
                id: {{ mailingListType.id }},
                siteId: {{ mailingListType.siteId }},
                name: "{{ mailingListType.name|e('js') }}",
                handle: "{{ mailingListType.handle|e('js') }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
    Craft.publishableSegmentTypes = [
        {% for segmentType, segmentTypeLabel in craft.campaign.getAllSegmentTypes() %}
            {
                id: {{ loop.index }},
                name: "{{ segmentTypeLabel|e('js') }}",
                handle: "{{ segmentType|e('js') }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
    Craft.publishableSendoutTypes = [
        {% for sendoutType, sendoutTypeLabel in craft.campaign.getAllSendoutTypes() %}
            {
                id: {{ loop.index }},
                name: "{{ sendoutTypeLabel|e('js') }}",
                handle: "{{ sendoutType|e('js') }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
{% endjs %}
