{% extends 'campaign/contacts/_layout' %}

{% import '_includes/forms' as forms %}

{% set title = 'Import'|t('campaign') %}

{% set crumbs = [] %}


{% block content %}

    <p>Select a mailing list to import the contacts into and the field mapping for each column that should be imported. </p>

    <form action="" method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {% if import.filePath %}
            <input type="hidden" name="action" value="campaign/imports/import-file" />
            <input type="hidden" name="fileName" value="{{ import.fileName }}" />
            <input type="hidden" name="filePath" value="{{ import.filePath }}" />
        {% else %}
            <input type="hidden" name="action" value="campaign/imports/import-user-group" />
            <input type="hidden" name="userGroupId" value="{{ import.userGroupId }}" />
        {% endif %}

        {{ forms.elementSelectField({
            label: "Mailing List"|t('campaign'),
            instructions: "Select a mailing list in which to import the contacts."|t('campaign'),
            id: 'mailingListId',
            name: 'mailingListId',
            elementType: mailingListElementType,
            selectionLabel: "Add a mailing list"|t('campaign'),
            limit: 1,
            elements: import.mailingListId ? [import.mailingList],
            errors: import.getErrors('mailingListId'),
            required: true
        }) }}

        {% set input %}
            <div class="select">
                <select name="emailFieldIndex">
                    <option value="">---</option>
                    {% set fieldMapped = false %}
                    {% for index, columnName in columns %}
                        {% set selected = import.emailFieldIndex is defined and import.emailFieldIndex != '' and import.emailFieldIndex == index ? true : false %}
                        {% if selected %}
                            {% set fieldMapped = true %}
                        {% endif %}
                        {% if not fieldMapped %}
                            {% set selected = columnName|lower == 'email' %}
                        {% endif %}
                        <option value="{{ index }}" {{ selected ? 'selected' }}>{{ columnName }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endset %}
        {{ forms.field({
            label: "Email"|t('campaign'),
            required: true,
            errors: import.getErrors('emailFieldIndex'),
            first: true
        }, input) }}

        {% for field in fields %}
            {% set input %}
                <div class="select">
                    <select name="fieldIndexes[{{ field.handle }}]">
                        <option value="">---</option>
                        {% set fieldMapped = false %}
                        {% for key, columnName in columns %}
                            {% set selected = import.fieldIndexes[field.handle] is defined and import.fieldIndexes[field.handle] != '' and import.fieldIndexes[field.handle] == key ? true : false %}
                            {% if selected %}
                                {% set fieldMapped = true %}
                            {% endif %}
                            {% if not fieldMapped %}
                                {% set selected = (columnName|lower|replace({' ': ''}) == field.handle|lower) %}
                            {% endif %}
                            <option value="{{ key }}" {{ selected ? 'selected' }}>{{ columnName }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endset %}
            {{ forms.field({
                label: field.name,
                instructions: field.instructions,
                required: field.required,
            }, input) }}
        {% endfor %}

        <input type="submit" class="btn submit" value="{{ 'Import'|t('campaign') }}" />
    </form>

{% endblock %}
