{% extends 'campaign/reports/_layout' %}

{% set contact = craft.campaign.getContactById(contactId) %}
{% set title = contact.email %}
{% set crumbs = [
    { label: 'Contacts'|t('campaign'), url: url('campaign/reports/contacts') }
] %}


{% block pageTitle %}
    {{ parent() }}
    {% if craft.campaign.userCanEditContacts() %}
        <a href="{{ contact.cpEditUrl }}" class="btn">{{ 'Edit'|t('campaign') }}</a>
    {% endif %}
{% endblock %}


{% block content %}

    {% include 'campaign/reports/contacts/_includes/report' %}

{% endblock %}
