{% extends 'campaign/reports/_layout' %}

{% set mailingList = craft.campaign.getMailingListById(mailingListId) %}
{% set title = mailingList.title %}

{% set crumbs = [
    { label: 'Mailing Lists'|t('campaign'), url: url('campaign/reports/mailinglists') }
] %}


{% block pageTitle %}
    {{ parent() }}
    {% if mailingList.canSave(currentUser) %}
        <a href="{{ mailingList.cpEditUrl }}" class="btn">{{ 'Edit'|t('campaign') }}</a>
    {% endif %}
{% endblock %}


{% block content %}

    {% include 'campaign/reports/mailinglists/_includes/report' %}

{% endblock %}
