{% do craft.campaign.requirePro() %}

{% if not currentUser.can('campaign:syncContacts') %}
    {% redirect 'campaign/contacts' %}
{% endif %}

{% extends 'campaign/contacts/_layout' %}

{% import '_includes/forms' as forms %}

{% set mailingListElementType = 'putyourlightson\\campaign\\elements\\MailingListElement' %}

{% set title = 'Sync'|t('campaign') %}

{% set crumbs = [] %}

{% set syncedMailingLists = craft.campaign.getMailingLists().synced().all() %}


{% block content %}

    {% set userGroups = craft.app.userGroups.getAllGroups() %}

    {% if userGroups|length %}
        {% set userGroupOptions = [] %}
        {% for userGroup in userGroups %}
            {% set userGroupOptions = userGroupOptions|merge([{'value': userGroup.id, 'label': userGroup.name}]) %}
        {% endfor %}

        <p>{{ "Sync mailing lists with user groups in order to keep contacts in sync with users. Every time a user in the selected user group is created, updated or deleted, the contact in the synced mailing list will also be created, updated or removed accordingly. Modifications to contacts will NOT affect users."|t('campaign') }}</p>

        <form action="" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="campaign/sync/add-synced-mailing-list" />

            {{ forms.elementSelectField({
                label: "Mailing List"|t('campaign'),
                instructions: "Choose a mailing list to sync. "|t('campaign'),
                id: 'mailingListId',
                name: 'mailingListId',
                elementType: mailingListElementType,
                selectionLabel: "Add a mailing list"|t('campaign'),
                limit: 1,
                required: true,
                errors: errors.mailingListId ?? '',
            }) }}

            {{ forms.selectField({
                label: "User Group"|t('campaign'),
                instructions: "Choose a user group to sync to."|t('campaign'),
                name: 'userGroupId',
                options: userGroupOptions,
                required: true,
                errors: errors.userGroupId ?? '',
            }) }}

            <input type="submit" class="btn submit" value="{{ 'Sync'|t('campaign') }}" />
        </form>
    {% else %}
        <p>{{ "No user groups exist."|t('campaign') }}</p>
    {% endif %}

    {% if syncedMailingLists|length %}
        <hr/>
        <h1>Synced Mailing Lists</h1>

        <table id="syncedMailingLists" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "Mailing List"|t('campaign') }}</th>
                <th scope="col">{{ "User Group"|t('campaign') }}</th>
                <td class="thin"></td>
            </thead>
            <tbody>
            {% for mailingList in syncedMailingLists %}
                {% set userGroup = mailingList.getSyncedUserGroup() %}
                <tr data-id="{{ mailingList.id }}" data-name="{{ mailingList.title }}">
                    <td data-title="{{ 'Mailing List'|t('campaign') }}"><a href="{{ mailingList.cpEditUrl }}" class="go" target="_blank">{{ mailingList.title }}</a></td>
                    <td data-title="{{ 'User Group'|t('campaign') }}"><a href="{{ url('users') }}" class="go" target="_blank">{{ userGroup.name }}</a></td>
                    <td class="thin"><a class="delete icon" title="{{ 'Remove'|t('campaign') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}


{% js %}
new Craft.AdminTable({
    tableSelector: '#syncedMailingLists',
    sortable: true,
    deleteAction: 'campaign/sync/remove-synced-mailing-list',
    confirmDeleteMessage: '{{ 'Are you sure you want to remove syncing between this mailing list and user group? This will NOT delete any contacts that already exist.'|t('campaign') }}',
    deleteSuccessMessage: '{{ 'Syncing successfully removed.'|t('campaign') }}',
});
{% endjs %}
