{% extends 'campaign/settings/_layout' %}

{% import '_includes/forms' as forms %}
{% import 'campaign/_macros' as macros %}

{% set title = mailingListType.id ? mailingListType.name : 'Create a new mailing list type'|t('campaign') %}

{% set crumbs = [
    { label: 'Mailing List Types'|t('campaign'), url: url('campaign/settings/mailinglisttypes') }
] %}


{% block content %}

    <input type="hidden" name="action" value="campaign/mailing-list-types/save-mailing-list-type">

    {{ redirectInput('campaign/settings/mailinglisttypes') }}

    {% if mailingListType.id %}
        <input type="hidden" name="mailingListTypeId" value="{{ mailingListType.id }}">
    {% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('campaign'),
        instructions: "What this mailing list type will be called in the CP."|t('campaign'),
        id: 'name',
        name: 'name',
        value: mailingListType.name,
        errors: mailingListType.getErrors('name'),
        autofocus: true,
        required: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t('campaign'),
        instructions: "How you’ll refer to this mailing list type in the templates."|t('campaign'),
        id: 'handle',
        class: 'code',
        name: 'handle',
        value: mailingListType.handle,
        errors: mailingListType.getErrors('handle'),
        required: true
    }) }}

    {% if siteOptions|length > 1 %}
        {{ forms.selectField({
            label: "Site"|t('campaign'),
            instructions: "The site to associate this mailing list type with."|t('campaign'),
            id: 'siteId',
            name: 'siteId',
            options: siteOptions,
            value: mailingListType.siteId,
            errors: mailingListType.getErrors('siteId'),
            required: true
        }) }}
    {% endif %}

    {{ forms.lightswitchField({
        label: "Double Opt-In"|t('campaign'),
        instructions: "Whether the user needs to verify their email address by clicking on a link in an email that will be sent to them (highly recommended)."|t('campaign'),
        id: 'doubleOptIn',
        name: 'doubleOptIn',
        on: mailingListType.doubleOptIn,
        errors: mailingListType.getErrors('doubleOptIn'),
        toggle: 'verifyEmailFields',
    }) }}

    <div id="verifyEmailFields" {{ not mailingListType.doubleOptIn ? 'class="hidden"' }}>

        {% set infoText = 'Available template tags: {tags}' %}

        {{ forms.textField({
            label: "Verify Email Template"|t('campaign'),
            instructions: "The template to use for the verification email that is sent to users (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`url`, `mailingList`'}),
            name: 'verifyEmailTemplate',
            value: mailingListType.verifyEmailTemplate,
            errors: mailingListType.getErrors('verifyEmailTemplate'),
            autocomplete: true
        }) }}

        {{ forms.textField({
            label: "Verify Success Template"|t('campaign'),
            instructions: "The template to use when a user verifies their email address (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`mailingList`'}),
            name: 'verifySuccessTemplate',
            value: mailingListType.verifySuccessTemplate,
            errors: mailingListType.getErrors('verifySuccessTemplate'),
            autocomplete: true
        }) }}

    </div>

    {{ forms.textField({
        label: "Subscribe Success Template"|t('campaign'),
        instructions: "The template to use when a user subscribes to a mailing list (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`mailingList`'}),
        id: 'subscribeSuccessTemplate',
        name: 'subscribeSuccessTemplate',
        value: mailingListType.subscribeSuccessTemplate,
        errors: mailingListType.getErrors('subscribeSuccessTemplate'),
        autocomplete: true
    }) }}

    {{ forms.textField({
        label: "Unsubscribe Success Template"|t('campaign'),
        instructions: "The template to use when a user unsubscribes from a mailing list (leave blank for default message template)."|t('campaign') ~ ' ' ~ macros.info(infoText, {tags: '`mailingList`'}),
        id: 'unsubscribeSuccessTemplate',
        name: 'unsubscribeSuccessTemplate',
        value: mailingListType.unsubscribeSuccessTemplate,
        errors: mailingListType.getErrors('unsubscribeSuccessTemplate'),
        autocomplete: true
    }) }}

    <hr>

    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: mailingListType.getFieldLayout(),
        customizableTabs: false,
        pretendTabName: "Mailing List"|t('campaign')
    } only %}

{% endblock %}


{% if not mailingListType.handle %}
    {% js "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
