{% import '_includes/forms' as forms %}

{% set input %}
    <p>
        {% set days = [] %}
        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
            {% if schedule.daysOfWeek[loop.index] is defined and schedule.daysOfWeek[loop.index] %}
                {% set days = days|merge([day]) %}
            {% endif %}
        {% endfor %}
        {{ days|join(', ') }}
    </p>
{% endset %}
{{ forms.field({label: "Days of Week"|t('campaign') ~ ':'}, input) }}
