{% import '_includes/forms' as forms %}


{% set input %}
    <p>{{ sendout.sendDate|datetime }} {{ sendout.sendDate.timezone ?? craft.app.timezone }}</p>
{% endset %}
{{ forms.field({label: (schedule.endDate is defined ? 'Start Date' : 'Send Date')|t('campaign') ~ ':'}, input) }}

{% if schedule.endDate is defined and schedule.endDate is not null %}

    {% set input %}
        <p>{{ schedule.endDate|datetime }}</p>
    {% endset %}
    {{ forms.field({label: "End Date"|t('campaign') ~ ':'}, input) }}

{% endif %}
