{% import '_includes/forms' as forms %}

{% set input %}
    {{ forms.date({
        name: 'sendDate',
        value: sendout.sendDate.date ?? date(),
    }) }}
    {{ forms.time({
        name: 'sendDate',
        value: sendout.sendDate.date ?? date(),
    }) }}
    {{ sendout.sendDate.timezone ?? craft.app.timezone }}
{% endset %}
{{ forms.field({
    label: (schedule.endDate is defined ? 'Start Date' : 'Send Date')|t('campaign'),
    instructions: "The date and time at which to begin sending."|t('campaign'),
    errors: sendout.getErrors('sendDate'),
    required: true
}, input) }}

{% if schedule.endDate is defined %}

    {{ forms.dateField({
        label: "End Date"|t('campaign'),
        instructions: "The date on which to end sending (optional)."|t('campaign'),
        name: 'schedule[endDate]',
        value: schedule.endDate.date ?? '',
        errors: schedule.getErrors('endDate'),
    }) }}

{% endif %}