table th.thin, table td.thin {
    white-space: nowrap;
}

.line-through {
    text-decoration: line-through;
}

.info-hud {
    max-width: 600px;
}

.welcome {
    min-height: 700px;
    background: url('../images/welcome.jpg') center;
    background-size: cover;
    color: var(--white);
    text-shadow: 0 0 8px var(--black);
    font-size: 20px;
    text-align: center;
    opacity: 0;
    animation: 1s fadeIn 1s forwards;
}

.welcome-oil {
    background: url('../images/welcome-oil.jpg') center;
    background-size: cover;
    filter: grayscale(100%);
    animation: 8s saturate-fadeOut 4s forwards;
}

.welcome a, .welcome a:after {
    color: var(--white) !important;
    text-decoration: none;
}

.welcome h1 {
    font-size: 48px;
    font-weight: bold;
}

.welcome .step {
    opacity: 0;
}

.welcome .step-1 {
    padding-top: 150px;
    animation: 2s fadeIn 2s;
}

.welcome .step-2 {
    animation: 2s fadeIn 4s;
}

.welcome .step-3 {
    animation: 2s fadeIn 6s forwards;
}

.preflight {
    max-width: 920px;
    max-height: 490px;
}

.preflight > div, .preflight .body {
    height: 100%;
    text-align: center;
}

.preflight .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.preflight h1 {
    font-size: 36px;
    line-height: 60px;
}

.preflight p {
    font-size: 18px;
    line-height: 30px;
}

.preflight .info {
    vertical-align: top;
}

.preflight .testmode {
    margin-top: 0;
}

.launch {
    margin-top: 20px;
    border-radius: 4px;
    padding: 12px 15px;
    font-weight: bold;
    font-size: 19px;
    height: 42px;
    line-height: 18px;
}

.rocketeer {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--black);
    background: url('../images/launch.jpg') no-repeat;
    background-size: contain;
}

.launched {
    color: var(--white);
    height: 100%;
    background: url('../images/launched.jpg') #8AB59F center 30px no-repeat;
    background-size: cover;
}

@keyframes saturate-fadeOut {
    50% {
        filter: grayscale(0);
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes saturate-fadeOut {
    50% {
        filter: grayscale(0);
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

.relative {
    position: relative;
}

.testmode {
    position: absolute;
    height: 5px;
    margin-top: -5px;
    width: 100%;
    z-index: 10;
    background: var(--black) url('../images/dev-mode.svg');
    cursor: help;
}

.status.sent {
    background-color: var(--enabled-color);
    border-color: transparent !important;
}

.status.sending {
    background-color: rgb(32, 160, 123, 0.3);
    border-color: var(--enabled-color) !important;
}

.status.queued {
    background-color: rgb(203, 110, 23, 0.3);
    border-color: var(--pending-color) !important;
}

.status.blocked, .status.closed, .status.cancelled, .status.paused {
    background-color: var(--disabled-color);
    border-color: transparent !important;
}

.status.paused {
    background-color: rgb(207, 17, 36, 0.3);
    border-color: var(--disabled-color) !important;
}

.status.complained {
    background-color: var(--amber-800);
    border-color: transparent !important;
}

.status.bounced, .status.failed {
    background-color: var(--gray-800);
    border-color: transparent !important;
}

.status.draft {
    --outline-color: var(--gray-500);
    box-shadow: inset 0 0 0 2px var(--outline-color);
}

label.subscriptionStatus {
    display: inline-block;
    border-radius: 3px;
    padding: 0 7px !important;
    font-size: 11px;
    line-height: 22px;
    height: 22px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    background-color: var(--ui-control-color);
}

label.subscriptionStatus.none {
    background-color: var(--gray-100);
    color: var(--text-color);
}

label.subscriptionStatus.subscribed {
    background-color: var(--enabled-color);
}

label.subscriptionStatus.unsubscribed {
    background-color: var(--disabled-color);
}

label.subscriptionStatus.pending {
    background-color: var(--pending-color);
}

label.subscriptionStatus.complained {
    background-color: var(--amber-800);
}

label.subscriptionStatus.bounced {
    background-color: var(--gray-800);
}

.email-body {
    width: 100%;
    height: 350px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--gray-200), 0 2px 12px var(--gray-200);
}

textarea.email-body {
    padding: 10px;
}

.details .meta.test-email > .field {
    border: none !important;
}

.details .meta.test-email > .field:first-of-type {
    padding-top: 10px !important;
}

.details .meta.test-email > .field:last-of-type {
    padding-bottom: 10px !important;
}

.details .meta.test-email .input {
    width: 100%;
}

.device {
    background: no-repeat 50%;
    background-size: contain;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.device:before {
    content: "\00a0";
}

.device.desktop {
    background-image: url(../icons/desktop.svg);
}

.device.tablet, .device.phablet {
    background-image: url(../icons/tablet.svg);
}

.device.smartphone {
    background-image: url(../icons/mobile.svg);
}

.cols.padded-right {
    padding-right: 6%;
}

.cols .half h2 {
    margin-top: 14px !important;
}

@media only screen and (min-width: 600px) {
    .cols .half {
        float: left;
        width: 47%;
    }

    .cols .half:first-child {
        padding-right: 6%;
    }
}
