.report-chart {
    border-radius: 3px;
    border: 1px solid #e3e5e8;
    padding: 20px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 100px;
}

.report-chart .select {
    float: left;
    margin-left: 10px;
    z-index: 1;
}

.report-chart .select select {
    font-size: 13px;
    padding-bottom: 5px !important;
}

.report-chart .refresh {
    float: left;
    width: 18px;
    height: 18px;
    margin: 6px;
    position: relative;
    z-index: 1;
}

.report-chart .spinner {
    margin: 30px 80px 40px 0;
}

.apexcharts-tooltip {
    font-size: 13px !important;
    color: #6E8190 !important;
}

.apexcharts-tooltip-title {
    font-size: 14px !important;
}

.apexcharts-tooltip-series-group.active, .apexcharts-tooltip-series-group:last-child {
    line-height: 11px;
}

.percentage-chart {
    float: left;
    width: 30%;
    padding-left: 20px;
}