/* This ensures that things remain responsive */
#content-container {
    max-width: 100%;
}

.toolbar {
    display: flex;
}

.dataTables_wrapper .dataTables_filter {
    flex-grow: 1;
    margin-left: 20px;
}

.dataTables_wrapper table:not(.data) th,
.dataTables_wrapper table:not(.data) td {
    padding-left: 12px !important;
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td,
.dataTables_wrapper table.dataTable.no-footer {
    border-bottom-color: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper table.dataTable.row-border tbody th,
.dataTables_wrapper table.dataTable.row-border tbody td,
.dataTables_wrapper table.dataTable.display tbody th,
.dataTables_wrapper table.dataTable.display tbody td {
    border-top-color: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper table.dataTable.stripe tbody tr.odd,
.dataTables_wrapper table.dataTable.display tbody tr.odd {
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #7b8793 !important;
}

.dataTables_wrapper .dataTables_length {
    float: none !important;
}

.dataTables_wrapper .dataTables_length select {
    background-color: rgba(96, 125, 159, 0.25);
    border: none;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
    background-color: #fbfcfe;
    border: 1px solid rgba(96, 125, 159, 0.25);
    padding: 6px 9px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    border-color: #127FBF;
    box-shadow: 0 0 0 2px rgb(18 127 191 / 50%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px !important;
}

.dataTables_wrapper .export_button {
    margin-left: 10px;
}
