{% extends 'campaign/settings/_layout' %}

{% import '_includes/forms' as forms %}

{% set title = 'Contact Settings'|t('campaign') %}

{% set crumbs = [
    { label: 'Plugin Settings'|t('campaign'), url: url('campaign/settings') }
] %}

{% set settings = craft.campaign.getSettings() %}

{% set fullPageForm = true %}

{% from "campaign/settings/_macros" import configWarning %}


{% block content %}

    <input type="hidden" name="action" value="campaign/settings/save-contact">

    {{ forms.textField({
        label: "Email Field Label"|t('campaign'),
        instructions: "A label to use for the email field."|t('campaign'),
        warning: (config.emailFieldLabel is defined ? configWarning('emailFieldLabel')),
        id: 'emailFieldLabel',
        name: 'emailFieldLabel',
        value: settings.emailFieldLabel,
        errors: settings.getErrors('emailFieldLabel'),
        required: true
    }) }}

    <hr/>

    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: settings.getBehavior('contactFieldLayout').getFieldLayout(),
        customizableTabs: false,
        pretendTabName: "Contact"|t('campaign')
    } only %}

{% endblock %}