{% extends 'campaign/_layout' %}

{% import '_includes/forms' as forms %}

{% set selectedSubnavItem = 'contacts' %}

{% set crumbs = [
    { label: 'Contacts'|t('campaign'), url: url('campaign/contacts') }
] %}

{% set tabs = {
    'contact': {'label': 'Contact'|t('campaign'), 'url': '#contact'},
    'mailinglists': {'label': 'Mailing Lists'|t('campaign'), 'url': '#mailinglists'},
} %}
{% if contact.id %}
    {% set tabs = tabs|merge({'report': {'label': 'Report'|t('campaign'), 'url': '#report'}}) %}
{% endif %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\ContactEditAsset') %}
{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\ReportsAsset') %}


{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
                <li>
                    <a class="formsubmit" data-redirect="{{ url('campaign/contacts/new')|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}


{% block content %}

    <input type="hidden" name="action" value="campaign/contacts/save-contact">

    {{ redirectInput('campaign/contacts') }}

    {% if contact.id %}
        <input type="hidden" name="contactId" value="{{ contact.id }}">
    {% endif %}

    <div id="fields">
        <div id="contact">
            {% include "campaign/contacts/_includes/titlefield" %}
            {% include '_includes/fields' with {
                fields:  fields,
                element: contact
            } only %}
        </div>

        <div id="mailinglists" class="hidden">
            {% if contact.id %}
                {% set mailingLists = craft.campaign.getAllMailingLists() %}

                {% if mailingLists|length %}
                    <table id="mailinglists" class="data fullwidth collapsible">
                        <thead>
                            <th scope="col">{{ "Title"|t('app') }}</th>
                            <th scope="col">{{ "Subscription Status"|t('campaign') }}</th>
                            <td class="thin"></td>
                            <td class="thin"></td>
                        </thead>
                        <tbody>
                            {% for mailingList in mailingLists %}
                              {% include 'campaign/_includes/mailing-list-contact-subscribe-row' %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{{ "No mailing lists exist."|t('campaign') }}</p>
                {% endif %}
            {% else %}
                <p>{{ "Contact must be saved before mailing lists can be assigned."|t('campaign') }}</p>
            {% endif %}
        </div>

        {% if contact.id %}
            <div id="report" class="hidden">
                {% include 'campaign/reports/contacts/_includes/report' %}
            </div>
        {% endif %}
    </div>

{% endblock %}


{% block details %}

    {% if contact.id %}
        <div class="meta read-only">
            <div class="data first">
                <h5 class="heading">{{ "Status"|t('campaign') }}</h5>
                <div class="value flex">
                    <div class="flex-grow">
                        <span class="status {{ contact.status }}"></span> {{ contact.statuses[contact.status] }}
                    </div>
                    {% include 'campaign/_includes/actions' %}
                </div>
            </div>
            {% set user = contact.getUser() %}
            {% if user %}
                <div class="data">
                    <h5 class="heading">
                        {{ "User"|t('campaign') }}
                        {% if contact.userId %}
                            <span class="icon" data-icon="refresh" title="{{ "Synced"|t('campaign') }}"></span>
                        {% endif %}
                    </h5>
                    <div class="value">
                        {% include '_elements/element' with {element: user} %}
                    </div>
                </div>
            {% endif %}
            <div class="data">
                <h5 class="heading">{{ "CID"|t('campaign') }}</h5>
                <div class="value"><code>{{ contact.cid }}</code></div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ contact.dateCreated|datetime }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ contact.dateUpdated|datetime }}</div>
            </div>
            {% if contact.lastActivity %}
                <div class="data">
                    <h5 class="heading">{{ "Last Activity"|t('campaign') }}</h5>
                    <div class="value">{{ contact.lastActivity|datetime }}</div>
                </div>
            {% endif %}
            {% if contact.verified %}
                <div class="data">
                    <h5 class="heading">{{ "Verified"|t('campaign') }}</h5>
                    <div class="value">{{ contact.verified|datetime }}</div>
                </div>
            {% endif %}
            {% if contact.complained %}
                <div class="data">
                    <h5 class="heading">{{ "Complained"|t('campaign') }}</h5>
                    <div class="value">{{ contact.complained|datetime }}</div>
                </div>
            {% endif %}
            {% if contact.bounced %}
                <div class="data">
                    <h5 class="heading">{{ "Bounced"|t('campaign') }}</h5>
                    <div class="value">{{ contact.bounced|datetime }}</div>
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
