{% extends 'campaign/_layout' %}

{% set selectedSubnavItem = 'contacts' %}

{% set baseCrumbs = [
    { label: 'Contacts'|t('campaign'), url: url('campaign/contacts') }
] %}
{% set crumbs = crumbs is defined ? baseCrumbs|merge(crumbs) : [] %}

{% if tabs is not defined and (currentUser.can('campaign:importContacts') or currentUser.can('campaign:exportContacts')) %}

    {% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
    {% set siteHandle = craft.app.request.getSegment(4) ? '/' ~ craft.app.request.getSegment(4) : '' %}

    {% set tabs = {'view': {'label': 'View'|t('campaign'), 'url': url('campaign/contacts/view' ~ siteHandle)}} %}

    {% if currentUser.can('campaign:importContacts') %}
        {% set tabs = tabs|merge({
            'import': {'label': 'Import'|t('campaign'), 'url': url('campaign/contacts/import' ~ siteHandle)}
        }) %}
    {% endif %}
    {% if currentUser.can('campaign:exportContacts') %}
        {% set tabs = tabs|merge({
            'export': {'label': 'Export'|t('campaign'), 'url': url('campaign/contacts/export' ~ siteHandle)}
        }) %}
    {% endif %}
    {% if craft.campaign.getIsPro() and currentUser.can('campaign:syncContacts') %}
        {% set tabs = tabs|merge({
            'sync': {'label': 'Sync'|t('campaign'), 'url': url('campaign/contacts/sync' ~ siteHandle)},
        }) %}
    {% endif %}

{% endif %}


{% block contextMenu %}

    {% if craft.app.getIsMultiSite() %}
        {% set segment3 = craft.app.request.getSegment(3) ? craft.app.request.getSegment(3) ~ '/' : '' %}
        {% include '_elements/sitemenu' with {
            selectedSiteId: currentSite.id,

        } only %}
    {% endif %}

{% endblock %}
