{% extends 'campaign/_settings/layout' %}

{% set title = 'Mailing List Types'|t('campaign') %}
{% set crumbs = [] %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') %}

{% do view.registerTranslations('app', [
    'Name',
    'Handle',
    'Site',
]) %}
{% do view.registerTranslations('campaign', [
    'Are you sure you want to delete “{name}”? This will also delete all of the mailing lists that use it. This action cannot be undone.',
    'No mailing list types exist.',
]) %}


{% block actionButton %}
    <a href="{{ url('campaign/settings/mailinglisttypes/new') }}" class="btn submit add icon">{{ "New mailing list type"|t('campaign') }}</a>
{% endblock %}


{% block content %}
    <div id="mailingListTypes-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for mailingListType in craft.campaign.getAllMailingListTypes() %}
    {% set tableData = tableData|merge([{
        id: mailingListType.id,
        name: mailingListType.name|e,
        title: mailingListType.name,
        url: mailingListType.cpEditUrl,
        handle: mailingListType.handle|e,
        site: mailingListType.site.name|e,
    }]) %}
{% endfor %}

{% js %}
    new Craft.VueAdminTable({
        columns: [
            { name: '__slot:title', title: Craft.t('app', 'Name') },
            { name: '__slot:handle', title: Craft.t('app', 'Handle') },
            {% if craft.app.getIsMultiSite() %}
                { name: 'site', title: Craft.t('app', 'Site') },
            {% endif %}
        ],
        container: '#mailingListTypes-vue-admin-table',
        deleteAction: 'campaign/mailing-list-types/delete',
        deleteConfirmationMessage: Craft.t('campaign', 'Are you sure you want to delete “{name}”? This will also delete all of the mailing lists that use it. This action cannot be undone.'),
        emptyMessage: Craft.t('campaign', 'No mailing list types exist.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
