{% extends 'campaign/_layout' %}

{% import '_includes/forms' as forms %}
{% import 'campaign/_macros' as macros %}

{% set selectedSubnavItem = 'segments' %}

{% set crumbs = [
    { label: 'Segments'|t('campaign'), url: url('campaign/segments') },
] %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\SegmentEditAsset') %}


{% block contextMenu %}

    {% if craft.app.getIsMultiSite() and segment.id is null %}
        {% include "_elements/sitemenu" with {
            selectedSiteId: segment.siteId,
            urlFormat: url('campaign/segments/new/{handle}'),
        } only %}
    {% endif %}

{% endblock %}


{% block actionButton %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
                <li>
                    <a class="formsubmit" data-redirect="{{ url('campaign/segments/new')|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
                {% if segment.id %}
                    <li>
                        <a class="formsubmit" data-param="duplicate" data-value="1" data-redirect="{{ continueEditingUrl|hash }}">{{ "Save as a new segment"|t('campaign') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}


{% block content %}

    <input type="hidden" name="action" value="campaign/segments/save-segment">
    <input type="hidden" name="segmentId" value="{{ segment.id }}">
    <input type="hidden" name="siteId" value="{{ segment.siteId }}">
    {{ redirectInput('campaign/segments') }}

    <div id="fields">
        <div>
            {% include "campaign/segments/_includes/titlefield" %}

            {% set fieldOperators = segment.getFieldOperators() %}
            {% set availableFields = segment.getAvailableFields() %}

            <div class="field">
                <div class="heading">
                    <label>{{ "Conditions"|t('campaign') }}</label>
                    <div class="instructions">
                        <p>
                            {{ "Create one or more conditions to apply to this segment."|t('campaign') }}
                            {{ macros.info('Available tags in template conditions: {tags}', {tags: '<code>contact</code>'}) }}
                        </p>
                    </div>
                </div>

                <div id="newCondition" class="andCondition field hidden">
                    <table class="heading data fullwidth collapsible">
                        <tbody>
                            {% include 'campaign/segments/_includes/condition' %}
                        </tbody>
                    </table>
                    <a class="addAndCondition btn add icon" title="{{ 'AND'|t('campaign') }}" role="button">{{ 'AND'|t('campaign') }}</a>
                </div>

                <div class="conditions">
                    {% if segment.conditions|length %}
                        {% for andIndex, conditions in segment.conditions %}
                            <div class="andCondition field">
                                <table class="heading data fullwidth collapsible">
                                    <tbody>
                                        {% for orIndex, condition in conditions %}
                                            {% include 'campaign/segments/_includes/condition' %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <a class="addAndCondition btn add icon" title="{{ 'AND'|t('campaign') }}" role="button">{{ 'AND'|t('campaign') }}</a>
                            </div>
                        {% endfor %}
                    {% else %}
                         <div class="andCondition field">
                            <table class="heading data fullwidth collapsible">
                                <tbody>
                                    {% include 'campaign/segments/_includes/condition' %}
                                </tbody>
                            </table>
                            <a class="addAndCondition btn add icon" title="{{ 'AND'|t('campaign') }}" role="button">{{ 'AND'|t('campaign') }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block details %}

    <div id="settings" class="meta">
        {{ forms.textField({
            label: "Slug"|t('app'),
            id: 'slug',
            name: 'slug',
            value: segment.slug,
            placeholder: "Enter slug"|t('app'),
            errors: segment.getErrors('slug')
        }) }}

        {% set statusInput %}
            <div class="left">
                {{ forms.lightswitch({
                    id: 'enabled',
                    name: 'enabled',
                    on: segment.enabled
                }) }}
            </div>

            {% if segment.id %}
                <div class="right">
                    <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t('app') }}" data-action="campaign/segments/delete-segment" data-confirm="{{ 'Are you sure you want to delete this segment?'|t('campaign') }}" data-redirect="{{ 'campaign/segments'|hash }}">
                </div>
            {% endif %}
        {% endset %}

        {{ forms.field({
            label: "Enabled"|t('app'),
            id: 'enabled'
        }, statusInput) }}
    </div>

    {% if segment.id %}
        <hr/>
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ segment.dateCreated|datetime }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ segment.dateUpdated|datetime }}</div>
            </div>
        </div>
    {% endif %}

{% endblock %}


{% if not segment.slug %}
    {% js %}
        window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}