{% extends 'campaign/settings/_layout' %}

{% import '_includes/forms' as forms %}
{% import 'campaign/_macros' as macros %}

{% set title = 'reCAPTCHA Settings'|t('campaign') %}

{% set crumbs = [] %}

{% set fullPageForm = true %}


{% block content %}

    <input type="hidden" name="action" value="campaign/settings/save-recaptcha">

    {{ forms.lightswitchField({
        first: true,
        required: true,
        label: "reCAPTCHA"|t('campaign'),
        instructions: "Enable reCAPTCHA to protect mailing list subscription forms from bots."|t('campaign'),
        warning: (config.reCaptcha is defined ? macros.configWarning('reCaptcha')),
        id: 'reCaptcha',
        name: 'reCaptcha',
        on: settings.reCaptcha,
        errors: settings.getErrors('reCaptcha')
    }) }}

    {% set code %}
        <code>{{ '{{ craft.campaign.recaptcha }}' }}</code>
    {% endset %}
    {{ forms.field({
        instructions: "Add the following tag to all mailing list subscription forms (not doing so will prevent forms from submitting)."|t('campaign'),
    }, code) }}

    {{ forms.textField({
        label: "reCAPTCHA Site Key"|t('campaign'),
        instructions: "The reCAPTCHA site key for this domain."|t('campaign'),
        warning: (config.reCaptchaSiteKey is defined ? macros.configWarning('reCaptchaSiteKey')),
        id: 'reCaptchaSiteKey',
        name: 'reCaptchaSiteKey',
        value: settings.reCaptchaSiteKey,
        errors: settings.getErrors('reCaptchaSiteKey')
    }) }}

    {{ forms.textField({
        label: "reCAPTCHA Secret Key"|t('campaign'),
        instructions: "The reCAPTCHA secret key for this domain."|t('campaign'),
        warning: (config.reCaptchaSecretKey is defined ? macros.configWarning('reCaptchaSecretKey')),
        id: 'reCaptchaSecretKey',
        name: 'reCaptchaSecretKey',
        value: settings.reCaptchaSecretKey,
        errors: settings.getErrors('reCaptchaSecretKey')
    }) }}

    {{ forms.textField({
        label: "reCAPTCHA Error Message"|t('campaign'),
        instructions: "Your form submission was blocked. Please go back and verify that you are human."|t('campaign'),
        warning: (config.reCaptchaErrorMessage is defined ? macros.configWarning('reCaptchaErrorMessage')),
        id: 'reCaptchaErrorMessage',
        name: 'reCaptchaErrorMessage',
        value: settings.reCaptchaErrorMessage,
        errors: settings.getErrors('reCaptchaErrorMessage')
    }) }}

    {{ forms.selectField({
        label: "reCAPTCHA Size"|t('campaign'),
        instructions: "The size of the reCAPTCHA widget."|t('campaign'),
        warning: (config.reCaptchaSize is defined ? macros.configWarning('reCaptchaSize')),
        id: 'reCaptchaSize',
        name: 'reCaptchaSize',
        value: settings.reCaptchaSize,
        options: {
            'normal': 'Normal'|t('campaign'),
            'compact': 'Compact'|t('campaign'),
            'invisible': 'Invisible'|t('campaign'),
        },
        errors: settings.getErrors('reCaptchaSize')
    }) }}

    {{ forms.selectField({
        label: "reCAPTCHA Theme"|t('campaign'),
        instructions: "The color theme of the reCAPTCHA widget."|t('campaign'),
        warning: (config.reCaptchaTheme is defined ? macros.configWarning('reCaptchaTheme')),
        id: 'reCaptchaTheme',
        name: 'reCaptchaTheme',
        value: settings.reCaptchaTheme,
        options: {
            'light': 'Light'|t('campaign'),
            'dark': 'Dark '|t('campaign'),
        },
        errors: settings.getErrors('reCaptchaTheme')
    }) }}

    {{ forms.selectField({
        label: "reCAPTCHA Badge"|t('campaign'),
        instructions: "The position of the reCAPTCHA badge (when invisible)."|t('campaign'),
        warning: (config.reCaptchaBadge is defined ? macros.configWarning('reCaptchaBadge')),
        id: 'reCaptchaBadge',
        name: 'reCaptchaBadge',
        value: settings.reCaptchaBadge,
        options: {
            'bottomright': 'Bottom right '|t('campaign'),
            'bottomleft': 'Bottom left '|t('campaign'),
            'inline': 'Inline'|t('campaign'),
        },
        errors: settings.getErrors('reCaptchaBadge')
    }) }}

    <p>
        <em>
            {{ 'Create and view your reCAPTCHA keys at {link}'|t('campaign', { link: '
                <a href="https://www.google.com/recaptcha/admin" class="go" target="_blank">
                    https://www.google.com/recaptcha/admin
                </a>'
            })|raw }}
        </em>
    </p>


{% endblock %}
