{% extends 'campaign/sendouts/_layout' %}

{% import '_includes/forms' as forms %}

{% set title = sendout.id ? sendout.title : 'Create a new sendout'|t('campaign') %}

{% set crumbs = [
    { label: sendout.sendoutTypes[sendout.sendoutType], url: url('campaign/sendouts/' ~ sendout.sendoutType) }
] %}

{% set schedule = sendout.schedule %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\SendoutEditAsset') %}


{% block actionButton %}

    <input type="submit" class="btn submit" value="{{ 'Save and Preview'|t('campaign') }}">

{% endblock %}


{% block main %}

    {% if settings.testMode %}
        <div class="testmode" title="Campaign is running in Test Mode."></div>
    {% endif %}

    {{ parent() }}

{% endblock %}


{% block content %}

    <input type="hidden" name="action" value="campaign/sendouts/save-sendout">
    <input type="hidden" name="sendoutId" value="{{ sendout.id }}">
    <input type="hidden" name="sendoutType" value="{{ sendoutType }}">
    {{ redirectInput('campaign/sendouts/{sendoutType}/{id}?preview=1') }}

    <div id="fields">

        {% if sendout.recipients %}
            {{ forms.field({
                warning: 'This sendout has already been sent to {recipients} recipients.'|t('campaign', {recipients: sendout.recipients})
            }) }}
        {% endif %}

        {% include 'campaign/sendouts/_includes/titlefield' %}

        {{ forms.elementSelectField({
            label: "Campaign"|t('campaign'),
            instructions: "Choose a campaign to send."|t('campaign'),
            id: 'campaignId',
            name: 'campaignId',
            elementType: campaignElementType,
            selectionLabel: "Choose a campaign"|t('campaign'),
            criteria: campaignElementCriteria,
            limit: 1,
            elements: sendout.campaignId ? [sendout.campaign],
            errors: sendout.getErrors('campaignId'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Subject"|t('campaign'),
            instructions: "Enter an email subject."|t('campaign'),
            id: 'subject',
            name: 'subject',
            value: sendout.subject,
            errors: sendout.getErrors('subject'),
            required: true,
            autocomplete: true
        }) }}

        {{ forms.textField({
            label: "From Name"|t('campaign'),
            instructions: "The name to send from."|t('campaign'),
            id: 'fromName',
            name: 'fromName',
            value: sendout.fromName ? sendout.fromName : settings.defaultFromName,
            errors: sendout.getErrors('fromName'),
            required: true,
            autocomplete: true
        }) }}

        {{ forms.textField({
            label: "From Email Address"|t('campaign'),
            instructions: "The email address to send from."|t('campaign'),
            id: 'fromEmail',
            name: 'fromEmail',
            value: sendout.fromEmail ? sendout.fromEmail : settings.defaultFromEmail,
            errors: sendout.getErrors('fromEmail'),
            required: true,
            autocomplete: true
        }) }}

        <hr/>

        {{ forms.elementSelectField({
            label: "To"|t('campaign'),
            instructions: "Select at least one mailing list to send the campaign to."|t('campaign'),
            id: 'mailingListIds',
            name: 'mailingListIds',
            elementType: mailingListElementType,
            selectionLabel: "Add a mailing list"|t('campaign'),
            criteria: mailingListElementCriteria,
            limit: 100,
            elements: sendout.mailingListIds ? sendout.mailingLists,
            errors: sendout.getErrors('mailingListIds'),
            required: true
        }) }}

        {{ forms.elementSelectField({
            label: "Exclude"|t('campaign'),
            instructions: "Select any mailing lists to exclude from this sendout. Contacts in these mailing lists will be excluded even if they are subscribed to one of the mailing lists above."|t('campaign'),
            id: 'excludedMailingListIds',
            name: 'excludedMailingListIds',
            elementType: mailingListElementType,
            selectionLabel: "Add a mailing list"|t('campaign'),
            criteria: mailingListElementCriteria,
            limit: 100,
            elements: sendout.excludedMailingListIds ? sendout.excludedMailingLists,
            errors: sendout.getErrors('excludedMailingListIds')
        }) }}

        {% if craft.campaign.isPro() %}
            {{ forms.elementSelectField({
                label: "Segments"|t('campaign'),
                instructions: "Select any segments to filter contacts by. Only contacts that fulfil the criteria in all selected segments will receive the sendout."|t('campaign'),
                id: 'segmentIds',
                name: 'segmentIds',
                elementType: segmentElementType,
                selectionLabel: "Add a segment"|t('campaign'),
                limit: 100,
                elements: sendout.segmentIds ? sendout.segments,
                errors: sendout.getErrors('segmentIds')
            }) }}

            <hr/>
        {% endif %}

        {{ forms.textField({
            label: "Notification Email Address"|t('campaign'),
            instructions: "An email address to notify when sending this sendout is complete or fails."|t('campaign'),
            id: 'notificationEmailAddress',
            name: 'notificationEmailAddress',
            value: (sendout.notificationEmailAddress ? sendout.notificationEmailAddress : (not sendout.id ? currentUser.email)),
            errors: sendout.getErrors('notificationEmailAddress'),
            autocomplete: true,
            required: true
        }) }}

        {{ forms.lightswitchField({
            label: "Google Analytics Link Tracking"|t('campaign'),
            instructions: "Add Google Analytics tracking to links in your campaign."|t('campaign'),
            id: 'googleAnalyticsLinkTracking',
            name: 'googleAnalyticsLinkTracking',
            on: sendout.googleAnalyticsLinkTracking,
            errors: sendout.getErrors('googleAnalyticsLinkTracking')
        }) }}

        {% if sendout.sendoutType == 'scheduled' %}

            <hr/>

            {% include 'campaign/sendouts/_includes/edit/schedule' %}

        {% endif %}

        {% if sendout.sendoutType == 'automated' %}

            <hr/>

            {% include 'campaign/sendouts/_includes/edit/schedule' with {label: 'Start Date'} %}

            {% set input %}
                {{ forms.text({
                    name: 'schedule[timeDelay]',
                    type: 'number',
                    value: schedule.timeDelay,
                    size: '10',
                }) }}
                {{ forms.select({
                    name: 'schedule[timeDelayInterval]',
                    options: intervalOptions,
                    value: schedule.timeDelayInterval,
                }) }}
            {% endset %}
            {{ forms.field({
                label: "Time Delay"|t('campaign'),
                instructions: "The amount of time to wait after subscribers join the list(s). Set to 0 for immediately."|t('campaign'),
                errors: schedule.getErrors('timeDelay'),
                required: true
            }, input) }}

            {% include 'campaign/sendouts/_includes/edit/daysOfWeek' %}

        {% elseif sendout.sendoutType == 'recurring' %}

            <hr/>

            {% include 'campaign/sendouts/_includes/edit/schedule' with {label: 'Start Date'} %}

            {% set input %}
                {{ "Every"|t('campaign') }}
                {{ forms.text({
                    name: 'schedule[frequency]',
                    type: 'number',
                    value: schedule.frequency,
                    size: '10',
                }) }}
                {{ forms.select({
                    name: 'schedule[frequencyInterval]',
                    options: intervalOptions,
                    value: schedule.frequencyInterval,
                    toggle: true,
                    targetPrefix: 'frequency-',
                }) }}
            {% endset %}
            {{ forms.field({
                label: "Frequence"|t('campaign'),
                instructions: "The frequency at which recurring sendouts should be sent."|t('campaign'),
                errors: schedule.getErrors('frequency'),
                required: true
            }, input) }}

            <div id="frequency-weeks" {{ schedule.frequencyInterval != 'weeks' ? 'class="hidden"' }}>

                {% include 'campaign/sendouts/_includes/edit/daysOfWeek' %}

            </div>

            <div id="frequency-months" {{ schedule.frequencyInterval != 'months' ? 'class="hidden"' }}>

                {% set input %}
                    {% for day in 1..31 %}
                        {{ forms.checkbox({
                            label: day|t('campaign'),
                            name: 'schedule[daysOfMonth][' ~ loop.index ~ ']',
                            value: 1,
                            checked: (schedule.daysOfMonth[loop.index] is defined and schedule.daysOfMonth[loop.index]),
                        }) }}
                        {{ loop.index == 29 ? '(may not exist in all months)' }}
                        {{ loop.index > 29 ? '(does not exist in all months)' }}
                        <br/>
                    {% endfor %}
                {% endset %}
                {{ forms.field({
                    label: "Days of Month"|t('campaign'),
                    instructions: "The days of the month on which to send."|t('campaign'),
                    errors: schedule.getErrors('daysOfMonth'),
                    required: true
                }, input) }}

            </div>

        {% endif %}

    </div>


{% endblock %}


{% block details %}

    {% if sendout.id %}
        <div class="meta read-only">
            <div class="data first">
                <h5 class="heading">{{ "Status"|t('campaign') }}</h5>
                <div class="value flex">
                    <div class="flex-grow">
                        <span class="status {{ sendout.status }}"></span> {{ sendout.statuses[sendout.status] }}
                    </div>
                    {% include 'campaign/_includes/actions' %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}