{% extends 'campaign/sendouts/_layout' %}

{% import '_includes/forms' as forms %}

{% set title = sendout.id ? sendout.title : 'Create a new sendout'|t('campaign') %}

{% set crumbs = [
    { label: sendout.sendoutTypes[sendout.sendoutType], url: url('campaign/sendouts/' ~ sendout.sendoutType) }
] %}

{% set schedule = sendout.schedule %}
{% set editable = true %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\SendoutEditAsset') %}


{% block contextMenu %}

    {% if craft.app.getIsMultiSite() and sendout.id is null %}
        {% include '_elements/sitemenu' with {
            selectedSiteId: sendout.siteId,
            urlFormat: url('campaign/sendouts/' ~ sendout.sendoutType ~ '/new/{handle}'),
        } only %}
    {% endif %}

{% endblock %}


{% block actionButton %}

    <input type="submit" class="btn submit" value="{{ 'Save and Preview'|t('campaign') }}">

{% endblock %}


{% block main %}

    {% if settings.testMode %}
        <div class="testmode" title="Campaign is running in Test Mode."></div>
    {% endif %}

    {{ parent() }}

{% endblock %}


{% block content %}

    <input type="hidden" name="action" value="campaign/sendouts/save-sendout">
    <input type="hidden" name="sendoutId" value="{{ sendout.id }}">
    <input type="hidden" name="siteId" value="{{ sendout.siteId }}">
    <input type="hidden" name="sendoutType" value="{{ sendoutType }}">
    {{ redirectInput('campaign/sendouts/{sendoutType}/{id}?preview=1') }}

    <div id="fields">

        {% if sendout.recipients %}
            {{ forms.field({
                warning: 'This sendout has already been sent to {recipients} recipient(s).'|t('campaign', {recipients: sendout.recipients})
            }) }}
        {% endif %}

        {% include 'campaign/sendouts/_includes/titlefield' %}

        {% include 'campaign/sendouts/_includes/fields' %}

    </div>


{% endblock %}


{% block details %}

    {% if sendout.id %}
        <div class="meta read-only">
            <div class="data first">
                <h5 class="heading">{{ "Status"|t('campaign') }}</h5>
                <div class="value flex">
                    <div class="flex-grow">
                        <span class="status {{ sendout.status }}"></span> {{ sendout.statuses[sendout.status] }}
                    </div>
                    {% include 'campaign/_includes/actions' %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
