{% extends 'campaign/sendouts/_layout' %}

{% import '_includes/forms' as forms %}

{% set title = sendout.title %}

{% set crumbs = [
    { label: sendout.sendoutTypes[sendoutType], url: url('campaign/sendouts/' ~ sendout.sendoutType) }
] %}

{% set pendingRecipients = sendout.pendingRecipients %}
{% set mailingLists = sendout.mailingLists %}
{% set schedule = sendout.schedule %}

{% do view.registerAssetBundle('putyourlightson\\campaign\\assets\\SendoutEditAsset') %}


{% block pageTitle %}

    {{ parent() }}

{% endblock %}


{% block contextMenu %}

    {% if sendout.isEditable %}
        <a href="{{ sendout.cpEditUrl }}" class="btn">{{ 'Edit'|t('campaign') }}</a>
    {% endif %}

{% endblock %}

{% block actionButton %}

    {% if sendout.isEditable or sendout.isResumable %}
        {% include 'campaign/sendouts/_includes/preflight' %}
    {% endif %}

{% endblock %}


{% block main %}

    {% if settings.testMode %}
        <div class="testmode" title="Campaign is running in Test Mode."></div>
    {% endif %}

    {{ parent() }}

{% endblock %}


{% block content %}

    {% if fullPageForm %}
        <input type="hidden" name="action" value="campaign/sendouts/send-sendout">
    {% else %}
        <form action="" method="post">
            {{ csrfInput() }}
    {% endif %}

    <input type="hidden" name="sendoutId" value="{{ sendout.id }}">
    {{ redirectInput('campaign/sendouts') }}

    <div id="fields">

        {% include 'campaign/sendouts/_includes/fields' %}

        <hr/>

        {% set input %}
            <iframe class="email-body" src="{{ actionUrl('/campaign/sendouts/get-html-body', { sendoutId: sendout.id }) }}"></iframe>
        {% endset %}
        {{ forms.field({
            label: "HTML Body"|t('campaign'),
            instructions: "A preview of the HTML version of the email body."|t('campaign'),
        }, input) }}

        {% set input %}
            <textarea class="email-body" disabled>{{ sendout.getPlaintextBody() }}</textarea>
        {% endset %}
        {{ forms.field({
            label: "Plaintext Body"|t('campaign'),
            instructions: "A preview of the plaintext version of the email body."|t('campaign'),
        }, input) }}

    </div>

{% endblock %}


{% block details %}

    <div class="meta read-only">
        <div class="data first">
            <h5 class="heading">{{ "Status"|t('campaign') }}</h5>
            <div class="value flex">
                <div class="flex-grow">
                    <span class="status {{ sendout.status }}"></span> {{ sendout.statuses[sendout.status] }}
                </div>
                {% include 'campaign/_includes/actions' %}
            </div>
        </div>

        {% if sendout.status == 'draft' and sendout.sendoutType != 'automated' %}

            <div class="data">
                <h5 class="heading">{{ "Expected Recipients"|t('campaign') }}</h5>
                <div class="value">{{ pendingRecipients|length }}</div>
            </div>

        {% else %}

            {% if sendout.status == 'failed' %}
                <div class="data">
                    <h5 class="heading">{{ "Status Message"|t('campaign') }}</h5>
                    <div class="value">{{ sendout.sendStatusMessage }}</div>
                </div>
            {% endif %}
            {% set sender = sendout.sender %}
            {% if sender %}
                <div class="data">
                    <h5 class="heading">{{ "Sent By"|t('campaign') }}</h5>
                    <div class="value">
                        {% include '_elements/element' with {'element': sender} %}
                    </div>
                </div>
            {% endif %}
            {% if sendout.status != 'sent' and sendout.sendoutType != 'automated' %}
                <div class="data">
                    <h5 class="heading">{{ "Expected Recipients"|t('campaign') }}</h5>
                    <div class="value">{{ pendingRecipients|length }}</div>
                </div>
            {% endif %}
            {% if sendout.status == 'sent' %}
                <div class="data">
                    <h5 class="heading">{{ "Recipients"|t('campaign') }}</h5>
                    <div class="value">{{ sendout.recipients }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Failed Recipients"|t('campaign') }}</h5>
                    <div class="value">{{ sendout.failedRecipients }}</div>
                </div>
            {% endif %}
            <div class="data">
                <h5 class="heading">{{ "SID"|t('campaign') }}</h5>
                <div class="value"><code>{{ sendout.sid }}</code></div>
            </div>
            {% if sendout.lastSent %}
                <div class="data">
                    <h5 class="heading">{{ "Last Sent"|t('campaign') }}</h5>
                    <div class="value">{{ sendout.lastSent|datetime }}</div>
                </div>
            {% endif %}
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ sendout.dateCreated|datetime }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ sendout.dateUpdated|datetime }}</div>
            </div>

        {% endif %}

    </div>

    {% if sendout.sendStatus != 'sent' %}
        <hr/>
        <div class="meta">
            {{ forms.field({
                label: "Send Test Email"|t('campaign'),
            }) }}
            {{ forms.elementSelect({
                id: 'testContact',
                name: 'testContact',
                elementType: contactElementType,
                selectionLabel: "Choose a contact"|t('campaign'),
                criteria: contactElementCriteria,
                elements: [testContact],
                limit: 1
            }) }}
            <a class="send-test btn">{{ 'Send Test'|t('campaign') }}</a>
        </div>
    {% endif %}

{% endblock %}