{% import '_includes/forms' as forms %}

{% set input %}
    {% if editable %}
        {{ forms.date({
            name: 'sendDate',
            value: sendout.sendDate ?? now,
        }) }}
        {{ forms.time({
            name: 'sendDate',
            value: sendout.sendDate ?? now,
        }) }}
        {{ sendout.sendDate.getTimezone() ?? craft.app.getTimezone() }}
    {% else %}
        <p>{{ sendout.sendDate|datetime }} {{ sendout.sendDate.getTimezone() ?? craft.app.getTimezone() }}</p>
    {% endif %}
{% endset %}
{{ forms.field({
    label: (schedule.endDate is defined ? 'Start Date' : 'Send Date')|t('campaign'),
    instructions: "The date and time at which to begin sending."|t('campaign'),
    errors: sendout.getErrors('sendDate'),
    required: true
}, input) }}

{% if schedule.endDate is defined %}

    {% set input %}
        {% if editable %}
            {{ forms.date({
                name: 'schedule[endDate]',
                value: schedule.endDate ?? '',
            }) }}
        {% else %}
            <p>{{ schedule.endDate ? schedule.endDate|date : '-' }}</p>
        {% endif %}
    {% endset %}
    {{ forms.field({
        label: "End Date"|t('campaign'),
        instructions: "The date on which to end sending (leave blank for forever)."|t('campaign'),
        name: 'schedule[endDate]',
        value: schedule.endDate ?? '',
        errors: schedule.getErrors('endDate'),
    }, input) }}

{% endif %}
