{% import '_includes/forms' as forms %}

{% set input %}
    {% if editable %}
        {{ forms.time({
            name: 'schedule[timeOfDay]',
            value: schedule.timeOfDay.date ?? '',
        }) }}
        {{ schedule.timeOfDay.timezone ?? craft.app.timezone }}
    {% else %}
        <p>{{ schedule.timeOfDay ? schedule.timeOfDay|time ~ ' ' ~ (schedule.timeOfDay.timezone ?? craft.app.timezone) : '-' }}</p>
    {% endif %}
{% endset %}
{{ forms.field({
    label: 'Time of Day'|t('campaign'),
    instructions: "The time of day from which to send (recommended)."|t('campaign'),
    errors: schedule.getErrors('timeOfDay'),
}, input) }}
